.slide-show-card {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slide-show-card img {
    max-height: 40vh;
    width: auto;
    object-fit: cover;
    flex-grow: 1;
}

.slide-show-card h2 {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--tbck-dark-blue);
    text-align: center;
}