.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.latest-news h1 {
    font-family: 'Glacial Indifference', sans-serif;
    text-align: center;
    margin: 10 0 0 0;
    padding: 0;
    color: var(--tbck-dark-blue);
}

.news-stories {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: rgba(76, 188, 202, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.home-page-horizontal-spacer {
    height: 6vh;
}

.home-page-sections {
    font-family: 'Glacial Indifference', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}