.sub-story {
    font-family: 'Glacial Indifference', sans-serif;
    color: black;
    text-decoration: none;
    max-height: 15vh;
    max-width: 20vw;
    overflow: hidden;
}

.sub-story a:visited {
    font-family: 'Glacial Indifference', sans-serif;
    color: var(--tbck-dark-blue);
}

.sub-story a {
    font-family: 'Glacial Indifference', sans-serif;
    color: var(--tbck-dark-blue);
}

.sub-story-image {
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.sub-story-title {
    font-family: 'Glacial Indifference', sans-serif;
    text-align: center;
}

.sub-story-content {
    font-family: 'Glacial Indifference', sans-serif;
    display: flex;
    flex-direction: row;
}