.sub-story {
    color: black;
    text-decoration: none;
    max-height: 15vh;
    max-width: 20vw;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.sub-story a:visited {
    color: black;
}

.sub-story-image {
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.sub-story-title {
    text-align: center;
}

.sub-story-content {
    display: flex;
    flex-direction: row;
}