:root {
    --tbck-dark-blue: #00595a;
    --tbck-light-blue: #4cbcca;
    --tbck-pink: #ff2779;
    --tbck-yellow: #ffa600;
    --tbck-green: #6cae0a;
    --tbck-black: #181d1b;
    --tbck-white: #f3f3f3;
}

.admin-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 50px auto;
}

.verification-container, .article-container {
    flex: 1;
    background-color: var(--tbck-dark-blue);
    padding: 20px;
    border-radius: 8px;
    color: var(--tbck-white);
}

.adminh2 {
    border-bottom: 2px solid var(--tbck-yellow);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--tbck-yellow);
}

.admintext {
    display: block;
    width: 96%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
} 

.admintext {
    background-color: var(--tbck-white);
    color: var(--tbck-black);
}

.submit-article, .approve {
    background-color: var(--tbck-green);
    color: var(--tbck-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-article:hover, .approve:hover {
    background-color: #5c9a0a;
}

.remove {
    width: 96%;
    background-color: #ff2779;
}

.remove:hover {
    background-color: #941d49;
}

.image-inputs {
    background-color: var(--tbck-light-blue);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.image-inputs p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.image-inputs input {
    margin-bottom: 5px;
}

.submit-article, .approve {
    width: 96%;
}
