:root {
  --tbck-dark-blue: #00595a;
  --tbck-light-blue: #4cbcca;
  --tbck-pink: #ff2779;
  --tbck-yellow: #ffa600;
  --tbck-green: #6cae0a;
  --tbck-black: #181d1b;
  --tbck-white: #f3f3f3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
