.title {
    text-shadow: 0px 0px 1px black;
    color: tbck-blue;
    padding: 5px;
}

.main-title {
    font-size: 2.25rem;
    font-weight: 900;
    color: #2C6460;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.2;
}

.image-layout {
    float: left;
    padding-right: 15px;
    justify-content: left;
}

.news-page-content {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2rem;
    
}

.news-layout {
    flex: 5;
    background-color: white;
    border: 1px solid white;
    font-family: Gill Sans, sans-serif;
    font-size:large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    vertical-align:auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20;
    height: 100vh;
}

.sidebar-layout {
    background-color: #11595A;
    color: white;
    text-align: left;
    flex: 2;
    padding-top: 5px;
    align-items: center;
    

    
}



.suggested-stories {
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: center;
    padding-left: 25px;
}

.story-reccomend {
    padding: 5px;
    align-items: center;
    padding-inline: 5px;
}

.container {
    display: flex;
}

.image-description {
    opacity: 0.5;
    color: lightslategrey;
}