.title {
    text-shadow: 0px 0px 1px black;
    color: tbck-blue;
    padding: 5px;
}

.main-title {
    font-size: 2.25rem;
    font-weight: 900;
    color: #2C6460;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.2;
}

.image-layout {
    float: left;
    padding-right: 5px;
    justify-content: left;
}

.second-image-layout {
    float: right;
    padding-left: 15px;
}

.news-page-primary-content {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2rem;
}

.secondary-news-content {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.1rem;
    color: #2C6460;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.last-news-content {
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.1rem;
    color: #2C6460;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-layout {
    flex: 5;
    background-color: white;
    font-family: Gill Sans, sans-serif;
    font-size:large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20;
}

.container {
    display: flex;
}

.image-caption {
    width: 70%;
    opacity: 0.7;
    color: darkslategrey;
}