.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.latest-news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.news-grid-item {
    margin-bottom: 20px;
}

#latest-news-header {
    text-align: center;
}

.latest-news {
    background-color: var(--tbck-yellow);
    height: 60vh;
    position: relative;
}

#warrior-of-the-month-header {
    text-align: center;
}

.warrior-of-the-month-hp {
    background-color: var(--tbck-light-blue);
    width: 100%;
    justify-items: center;
    padding-bottom: 60px;
}