.home-page{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

.latest-news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.news-grid-item {
    margin-bottom: 20px;
}

#latest-news-header {
    text-align: center;
}

.latest-news {
    
}