.secondary-news-box {
    display: flex;
    align-items: center;
    max-width: 350px;
}

.secondary-news-box img {
    margin-right: 10px;
}

.main-news-box {
    max-width: 350px;
}

.title-news-box {
    max-width: 350px;
}