.NewsDetails-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.NewsPageLayout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.news-details-container {
    flex-grow: 1;
}

.container {
    display: flex;
}

.news-format {
    background-color: white;
    border: 1px solid white;
    font-family: Gill Sans, sans-serif;
    font-size:large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    vertical-align:auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20;
    
}