.sidebar-layout {
    background-color: #11595A;
    color: white;
    text-align: left;
    flex: 2;
    padding-top: 5px;
    align-items: center;
    
}

.suggested-stories {
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: center;
    padding-left: 25px;
    width: 90%;
}

.story-reccomend {
    padding: 5px;
    align-items: center;
    padding-inline: 5px;
}

.suggested-story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .suggested-story-link {
    text-decoration: none;
    width: 100%;
  }
  
  .suggested-story-card {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .suggested-story-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .suggested-story-image {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin-right: 12px;

  }
  
  .suggested-story-title {
    font-weight: bold;
    color: #333;
  }
  
  .suggested-story-subtext {
    color: #777;
    font-size: 0.9rem;
  }
  