.user-container {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: var(--tbck-black);
  color: var(--tbck-white);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.userInput {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--tbck-light-blue);
  background: var(--tbck-white);
  color: var(--tbck-black);
  transition: border 0.3s, box-shadow 0.3s;
}

.userInput:focus {
  border-color: var(--tbck-light-blue);
  box-shadow: 0 0 5px var(--tbck-light-blue);
}

.admin-btn, .logout-btn, .edit-btn, .save-btn, .approve, .submit-article, .remove {
  margin: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background: var(--tbck-light-blue);
  color: var(--tbck-white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.edit-btn:hover, .save-btn:hover {
  background: var(--tbck-dark-blue);
}

.logout-btn {
  background: var(--tbck-pink);
}

.logout-btn:hover {
  background: #e6005c;
}

.admin-btn {
  background: var(--tbck-green);
  margin-top: 15px;
}

.admin-btn:hover {
  background: #5a9608;
}

.message {
  margin-top: 10px;
  font-weight: bold;
  color: var(--tbck-green);
}
